.contact {
  padding: 8rem 0;
  color: white;
  /* background-color: rgba(128, 128, 128, 0.7); */
}
.center {
  width: 60vw;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .center {
    width: 50vw;
    margin: 0 auto;
  }
}
label {
  text-transform: capitalize;
  display: block;
  margin-bottom: 0.5rem;
}
.formControl,
.submit {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.375rem 0.75rem;
  /* border: 1px solid var(--darkGrey); */
  border-radius: 0.25rem;
}
.submit {
  background-color: white;
  border-color: white;
  text-transform: uppercase;
  color: black;
  transition: var(--mainTransition);
  cursor: pointer;
}
.submit:hover {
  background: purple;
  color: white;
  border-color: purple;
}
